/* stylesheet for IE 7 or early versions */
*html .indexpage #lftbar {
	height: 798px;
}
.heightaverage {
	height: 870px;
	min-height: 870px;
}
#main {
	border-left: 2px solid #293034;
	float: left;
	width: 352px;
	margin: 0 0 0 -2px !important;
}
 *html #main { width: 354px; } /*hack for IE6*/
 *html #rgtbar { right: -1px; } /*hack for IE6*/
#footer { margin-top: -3px; }
#pagepasswordrecovery {
	margin-bottom: 0;
}
.bg_lb_users, .bg_lb_playnow, .timebox { height: 25px; }

*html  .djname {
	height: 42px;
	}