.contacts_view.listview .person_card .person_img,
.contacts_view.listview .person_card .icons,
.contacts_view.listview .person_card .position
{display:none;}

.contacts_view #list-items
   {
   position: absolute;
   top: 0;
   }
.contacts_view .list .item,
.employees.main .person_card,
#persons .person_card
   {
   float: left;
   position:relative;
   width: 162px;
   height: 192px;
   margin: 0 5em 4.5em 0;
   }
.contacts_view.listview .list .item
   {
   background: transparent;
   float: none;
   margin: 0;
   padding: 0;
   border: 0;
   width: auto;
   height: inherit;
   overflow: hidden;
   min-height: inherit;
   }
   .person-vote
      {
      background: url(/i/icns-user-vote.png) 0 0 no-repeat;
      display: block;
      position: absolute;
      top: 21%;
      left: 29%;
      width: 64px;
      height: 63px;
      z-index:20;
      }
   .person-voted
      {
      background: url(/i/icns-user-voted.png) 0 0 no-repeat;
      display: block;
      position: absolute;
      top: 21%;
      left: 29%;
      width: 64px;
      height: 63px;
      z-index:20;
      }

   .person-vote.loading 
      {
      background: url(/i/ani_loading.gif) 9px 0 no-repeat;
      }
      .person-vote a
         {
         display: block;
         float: left;
         width: 32px;
         height: 62px;
         }
   .person_card .person_img
      {
      width: 162px;
      position: relative;
      margin-bottom: 4px;
      }
   .person_card .icons
      {
      background: transparent url(/i/bg-userfoto-functions.png) 0 0 repeat;
      display: none;
      position: absolute;
      left: 0;
      bottom: 2px;
      z-index: 20;
      width: 100%;
      text-align: center;
      }
      .person_card .icon 
         { width: 100%; }
      .person_card .icons li 
         {
         background: none;
         }
   .person_card:hover .icons,
   .person_card .hover
      {
      display: block;
      }
   .person_card .name a
   {
      color: #000;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: bold;
      text-decoration: none;
   }
   .person_card .position
      {
      color: #666;
      font-size: 1.1em;
      margin-top: 2px;
      }
   .person_card .icon li
      {
      display: inline-block;
      margin: 0 0 -2px 0;
      padding: 8px 0 9px;
      }
      .person_card .icon input,
      .person_card .icon a
         {
         display: block;
         background: url(/i/icns-userfoto-functions.png) 0 0 no-repeat;
         border: none;
         width: 28px;
         height: 17px;
         cursor: pointer;
         }
      .person_card .icon .delete
         {
         background: transparent url(/i/bg-brd-userfoto-functions.png) 0 0 repeat-y;
         padding: 8px 0 6px 11px;
         }
      .person_card .icon .delete input
         {
         background: transparent url(/i/cross.png) no-repeat 0 0;
         width: 16px;
         height: 15px;
         }
      .person_card .icon .send_message
         {
         padding: 0 11px 0 11px;
         }
      body:first-of-type .person_card .icon .send_message
         {
         margin-bottom: -6px;
         }/* For Safari 3 */
         .person_card .icon .send_message a
            {
            background-position: 0 -34px;
            width: 16px;
            height: 22px;
            }
      .person_card .icon .right_people
         {
         background: transparent url(/i/bg-brd-userfoto-functions.png) 100% 2px repeat-y;
         padding: 8px 11px 6px 11px;
         }
         .person_card .icon .right_people input
            {
            background-position: 0 -101px;
            width: 16px;
            }
      .person_card .icon .add_right_people
         {
         background: transparent url(/i/bg-brd-userfoto-functions.png) 100% 0 repeat-y;
         padding: 10px 10px 6px 0;
         }
         .person_card .icon .add_right_people input
            {
            background-position: 0 -71px;
            width: 27px;
            height: 14px;
            }
    #contacts_view.with-group #lftcol-groups 
       {
       overflow: auto;
       }
       #contacts_view.with-group #lftcol-groups .title a
          {
          padding: 0.9em 1.4em 0.9em 3em;
          }
          #contacts_view.with-group #lftcol-groups .title span
             {
             display: none;
             }
