.popup-hint
   {
   position: relative;
   background: url(/i/popup_hint/bg_hint.png) 0 0 repeat;
   }
.ie6 .popup-hint{
   background: #1f2726;
}
.ie6 .popup-hint .c, .ie6 .popup-hint .br
   {
      background:none;
   }

   /*popup corners*/
   .popup-hint .c {
      background: url(/i/popup_hint/corner_hint.png) no-repeat scroll 0 0;
      position: absolute;
      width: 13px;
      height: 13px;
   }
   .popup-hint .lt{
      left:-13px;
      top:-13px;
   }
   .popup-hint .rt{
      right:-13px;
      top:-13px;
      background-position: -13px 0;
   }
   .popup-hint .lb{
      left:-13px;
      bottom:-13px;
      background-position: 0 -13px;
   }
   .popup-hint .rb{
      right:-13px;
      bottom:-13px;
      background-position: -13px -13px;
   }
   
   /*popup borders*/
   .popup-hint .br{
      position:absolute;
   }
   .popup-hint .t{
      height:13px;
      left:0;
      right:0;
      top:-13px;
      background:transparent url(/i/popup_hint/brd_top_hint.png) repeat-x scroll 0 0;
   }
   .popup-hint .b{
      height:13px;
      left:0;
      right:0;
      bottom:-13px;
      background:transparent url(/i/popup_hint/brd_bottom_hint.png) repeat-x scroll 0 0;
   }
   .popup-hint .l{
      width:13px;
      left:-13px;
      top:0;
      bottom:0;
      background:transparent url(/i/popup_hint/brd_left_hint.png) repeat-y scroll 0 0;
   }
   .popup-hint .r{
      width:13px;
      right:-13px;
      top:0;
      bottom:0;
      background:transparent url(/i/popup_hint/brd_right_hint.png) repeat-y scroll 0 0;
   }

.dialog-hint{
   margin:80px auto;
   position:relative;
   padding: 5px;
   background:#f2f0e4;
   z-index:500;
}
   .dialog-hint.popup-header h3{
      position:relative;
      left:5px;
      top:30px;
      font-size: 1.4em;
      line-height: 1.4em;
   }
   
   /*dialog corners*/
   .dialog-hint .c{
      position:absolute;
      width:50px;
      height:50px;
      background:transparent url(/i/dialog/corners.png);
   }
   .dialog-hint.popup-header .c{
      height:76px;
      background:transparent url(/i/dialog/corners_h.png);
   }
   .dialog-hint .lt{
      left:-50px;
      top:-50px;
   }
   .dialog-hint .rt{
      right:-50px;
      top:-50px;
      background-position: -50px 0 !important;
   }
   .dialog-hint .lb{
      height:50px;
      left:-50px;
      bottom:-50px;
      background-position: 0 -50px;
   }
   .dialog-hint .rb{
      height:50px;
      right:-50px;
      bottom:-50px;
      background-position: -50px -50px;
   }

   /*dialog borders*/
   .dialog-hint .br{
      position:absolute;
   }
   .dialog-hint .t{
      height:50px;
      left:0;
      right:0;
      top:-50px;
      background:transparent url(/i/dialog/br_top.png) repeat-x;
   }
   .dialog-hint.popup-header .t{
      height:76px;
      left:0;
      right:0;
      top:-76px;
      background:transparent url(/i/dialog/br_top_h.png) repeat-x;
   }
   .dialog-hint .b{
      height:50px;
      left:0;
      right:0;
      bottom:-50px;
      background:transparent url(/i/dialog/br_bottom.png) repeat-x;
   }
   .dialog-hint .l{
      width:50px;
      left:-50px;
      top:0;
      bottom:0;
      background:transparent url(/i/dialog/br_left.png) repeat-y;
   }
   .dialog-hint .r{
      width:50px;
      right:-50px;
      top:0;
      bottom:0;
      background:transparent url(/i/dialog/br_right.png) repeat-y;
   }

   /*dialog header corners*/
   .dialog-hint.popup-header .lt{
      left:-50px;
      top:-76px;
   }
   .dialog-hint.popup-header .rt{
      right:-50px;
      top:-76px;
      background-position: -50px 0 !important;
   }
   .dialog-hint.popup-header .lb{
      height:50px;
      left:-50px;
      bottom:-50px;
      background-position: 0 -76px;
   }
   .dialog-hint.popup-header .rb{
      height:50px;
      right:-50px;
      bottom:-50px;
      background-position: -50px -76px;
   }

   /*dialog ie6*/
   .ie6 .dialog-hint .c{
      background:transparent url(/i/dialog/ie6/corners.gif);
   }
   .ie6 .dialog-hint.popup-header .c{
      background:transparent url(/i/dialog/ie6/corners_h.gif);
   }
   .ie6 .dialog-hint .t{
      width:103%;
      background:transparent url(/i/dialog/ie6/br_top.gif) repeat-x;
   }
   .ie6 .dialog-hint.popup-header .t{
      background:transparent url(/i/dialog/ie6/br_top_h.gif) repeat-x;
   }
   .ie6 .dialog-hint .b{
      width:103%;
      background:transparent url(/i/dialog/ie6/br_bottom.gif) repeat-x;
   }
   .ie6 .dialog-hint .l{
      height: expression(document.getElementById('dialog-hint').clientHeight);
      background:transparent url(/i/dialog/ie6/br_left.gif) repeat-y;
   }
   .ie6 .dialog-hint .r{
      height: expression(document.getElementById('dialog-hint').clientHeight);
      background:transparent url(/i/dialog/ie6/br_right.gif) repeat-y;
   }
   .ie6 .dialog-hint.popup-header .lb{
      background-position: 0 -76px !important;
   }
   .ie6 .dialog-hint.popup-header .rb{
      background-position: -50px -76px !important;
   }